<!-- 

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      
      </button>
      <span>My CRUD App</span>
   
      <button mat-raised-button color="warn" (click)="DepartmentModule()">Department</button>
      <button mat-raised-button color="warn" (click)="logOut()">LogOut</button>
    </mat-toolbar> -->

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">DashBoard</a>
       <div>
        <button type="button" class="btn btn-danger" (click)="View()">Employee</button>
        <button type="button" class="btn btn-primary"  (click)="DepartmentModule()">Department</button>
        <button type="button" class="btn btn-warning" (click)="logOut()">LogOut</button>
        <!-- <h4>Hello</h4> -->
       </div>
        </div>
      </nav>